/* Palette colori */
:root {
    --color-mail: rgb(61, 19, 19);
    --first-li: #780000;
    --second-li: #c1121f;
    --third-li: #fdf0d5;
    --fourth-li: #003049;
    --fifth-li: #669bbc;
    --sixth-li: #8ecae6;
    --seventh-li: #219ebc;
    --eighth-li: #023047;
    --ninth-li: #ffb703;
    --tenth-li: #fb8500;

}

/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

body {
    background: rgb(247, 127, 4);
        background: linear-gradient(90deg, rgba(247, 127, 4, 1) 0%, rgba(255, 183, 3, 1) 35%, rgba(253, 240, 213, 1) 100%);
}

ul {
    color: var(--color-mail);
}

li {
    list-style: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: rgb(70, 65, 65);
}

i.fa-regular.fa-envelope:hover {
    cursor: pointer;
    color: red;
}

li {
    width: 100%;
    display: block;
    font-size: 1.1rem;
    max-width: 100%;
}
/* Creo la transizione all'hover del mouse sulle liste <li> */
li:hover {
    transform: scale(1.08, 1);
    transition: all 1s;
    opacity: 1;
}

/* Creo la transizione anche quando il mouse si sposta dalle liste <li> */
li:not(:hover) {
    transition: all 1s;
    opacity: 1;
}

#email-1 {
    background-color: #780000;
    color: white;
}

#email-2 {
    background-color: var(--second-li);
    color: white;
}

#email-3 {
    background-color: var(--third-li);
    color: balck;
}

#email-4 {
    background-color: var(--fourth-li);
    color: white;
}

#email-5 {
    background-color: var(--fifth-li);
    color: black;
}

#email-6 {
    background-color: var(--sixth-li);
    color: black;
}

#email-7 {
    background-color: var(--seventh-li);
    color: black;
}

#email-8 {
    background-color: var(--eighth-li);
    color: white;
}

#email-9 {
    background-color: var(--ninth-li);
    color: black;
}

#email-10 {
    background-color: var(--tenth-li);
    color: black;
}

.fa-regular.fa-envelope:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s;
    opacity: 0.9;
}

.container {
    -webkit-transition: opacity .4s ease .4s;
        transition: opacity .4s ease .4s;
}

/* Creo la finestra di caricamento che verrà visualizzata quando
schiacchierò il pulsante e si toglierà quando avrà caricato tutte le email
oppure quando ci sarà un errore */
#loader {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
}